//----------------------------------------------
// Fade In
//---------------------------------------------- 
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

//----------------------------------------------
// Animation Helper
//---------------------------------------------- 
.fade-in {
  animation: fade-in ease-in-out 1s both;
}
