//----------------------------------------------
// Fade In
//---------------------------------------------- 
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

//----------------------------------------------
// Animation Helper AOS
//---------------------------------------------- 
$aos-easing: (
  ease-in-out: cubic-bezier(.420, 0, .580, 1)
);

[data-aos] {
  @for $i from 1 through 60 {
    body[data-aos-duration='#{$i * 50}'] &,
    &[data-aos][data-aos-duration='#{$i * 50}'] {
      transition-duration: #{$i * 50}ms;
    }

    body[data-aos-delay='#{$i * 50}'] &,
    &[data-aos][data-aos-delay='#{$i * 50}'] {
      transition-delay: 0;

      &.aos-animate {
        transition-delay: #{$i * 50}ms;
      }
    }
  }

  @each $key, $val in $aos-easing {
    body[data-aos-easing="#{$key}"] &,
    &[data-aos][data-aos-easing="#{$key}"] {
      transition-timing-function: $val;
    }
  }
}

[data-aos="fade-in"] {
  opacity: 0;
  transition-property: opacity;

  &.aos-animate {
    opacity: 1;
  }
}

[data-aos="fade-in-up"] {
  opacity: 0; 
  transform: translate3d(0, 100%, 0);
  transition-property: opacity, transform;

  &.aos-animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
