//----------------------------------------------
// Sep
//---------------------------------------------- 
.sep {
  height: 1px;
  max-width: $mq-small;
  margin: 0 auto;

  border: 0;
  background-color: rgba($color-black, 0.1);
}
