//----------------------------------------------   
//  Config
//  
//  01: Font variables
//  02: Media Queries
//  03: Colors
//  04: Z-indexes
//  05: Misc
//---------------------------------------------- 

//----------------------------------------------
// Fonts
//----------------------------------------------
$font-header: "Futura", sans-serif;
$font-body: "Caslon", serif;

//----------------------------------------------
// Fonts: Lineheight
//---------------------------------------------- 
$base-lineheight: 1.6;

//----------------------------------------------
// Fonts: Size variables
//---------------------------------------------- 
$font-small: 0.9em;
$font-xsmall: 0.8em;
$font-xxsmall: 0.7em;
$font-xxxsmall: 0.6em;

//----------------------------------------------
// Media Queries
//---------------------------------------------- 
// Smallest phone
$mq-xsmall: 22em;
// Phone
$mq-small: 32em;
// Tablet
$mq-med: 54em;
// Laptop
$mq-large: 65em;
// Past laptop
$mq-xlarge: 91em;
// Mid-size monitor
$mq-xxlarge: 115em;
// Thunderbold goes to 157em
$mq-xxxlarge: 130em;

//----------------------------------------------
// Colors
//---------------------------------------------- 
$color-alpha: #c28285;
// $color-beta: #2c435b;

$color-white: #fff;
$color-black: #000;

//----------------------------------------------
// Z-indexes
//----------------------------------------------
$z-999: 999;
$z-998: 998;
$z-99: 99;
$z-9: 9;
$z-5: 5;
$z-2: 2;
$z-1: 1;
$z-0: 0;

//----------------------------------------------
// Grid
//----------------------------------------------
$max-width: 45em;
$max-width--lg: $mq-large; 
$max-width--xl: 81em; 
