//----------------------------------------------
// Border
//---------------------------------------------- 
.border-top,
.border-right,
.border-bottom,
.border-left {
  position: fixed;
  z-index: $z-999;

  display: none;

  background-color: $color-alpha;

  @media (min-width: $mq-med) {
    display: block;
  }
}

.border-top,
.border-bottom {
  height: $border-width;
  width: 100%;
}

.border-right,
.border-left {
  height: 100%;
  width: $border-width;
}

.border-top {
  top: 0;
  left: 0;

  animation: width ease-in-out 0.5s both;
}

.border-right {
  top: 0;
  right: 0;

  animation: height ease-in-out 0.5s both 0.5s;
}

.border-bottom {
  bottom: 0;
  right: 0;

  animation: width ease-in-out 0.5s both 1s;
}

.border-left {
  left: 0;
  bottom: 0;

  animation: height ease-in-out 0.5s both 1.5s;
}

@keyframes width {
  0% { width: 0%; }
  100% { width: 100%; }
}

@keyframes height {
  0% { height: 0%; }
  100% { height: 100%; }
}
