//----------------------------------------------
// Carousel
//---------------------------------------------- 
.carousel {
  padding: 2em 1em;

  @media (min-width: $mq-small) {
    padding: 4em 0;
  }

  @media (min-width: $mq-xlarge) {
    padding: {
      top: 6em;
      bottom: 6em;
    }
  }

  &__img {
    position: relative;

    height: 14em;

    @media (min-width: $mq-small) {
      height: 26em;
    }

    @media (min-width: $mq-med) {
      height: 34em;
    }

    @media (min-width: $mq-xlarge) {
      height: 38em;
    }
  }
}

//----------------------------------------------
// Owl Carousel
//---------------------------------------------- 
.owl-nav {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  height: 100%;
  width: 100%;
}

.owl-prev,
.owl-next {
  position: relative;

  flex-basis: 50%;
  max-width: 50%;

  img {
    position: absolute;
    top: 50%;
    z-index: $z-1;

    width: 1em;

    cursor: pointer;
    transform: translateY(-50%);

    @media (min-width: $mq-small) {
      width: 2em;
    }
  }
}

.owl-carousel .owl-nav {

  .owl-prev {
    cursor: w-resize;

    img {
      left: 0.5em;

      @media (min-width: $mq-small) {
        left: 1.25em;
      }
    }
  }

  .owl-next {
    cursor: e-resize;

    img {
      right: 0.5em;

      @media (min-width: $mq-small) {
        right: 1.25em;
      }
    }
  }
}
