//----------------------------------------------
// Hotel
//----------------------------------------------
.hotel {

  &__container {
    @extend .map__container;
  }

  &__subcontainer {
    @extend .map__subcontainer;

    position: relative;

    &:first-child {

      @media (max-width: $mq-small) {
        height: 30em;
      }
    }
  }

  &__content {
    @extend .map__content;

    @media (min-width: $mq-small) {
      margin-bottom: 2em;
    }
  }

  &__address {
    @extend .map__address;
  }

  // &__info {
  //   @extend %auto-margin;

  //   width: 75%;
  //   margin-bottom: 0;

  //   font-style: italic;
  // }

  &__reservation {
    @include link-underline();
  }
}