//----------------------------------------------
// Instagram
//----------------------------------------------
.instagram {

  &__text {
    @extend %auto-margin;
    @extend %text-center;

    margin-bottom: 0;

    font-family: $font-header;
    font-size: 1.1em;

    @media (min-width: $mq-small) {
      width: 50%;
    }
  }

  &__img {
    @extend %auto-margin;

    max-width: $mq-xsmall;
    margin-top: 2em;

    @media (max-width: $mq-small) {
      width: 90%;
    }
  }
}
