//----------------------------------------------
// Mast
//----------------------------------------------
.mast {
  position: relative;
  z-index: $z-998;

  height: 26em;
  width: 100%;

  @media (min-width: $mq-small) {
    height: 100vh;
  }

  & > * {

    @media (min-width: $mq-small) {
      animation: fade-in ease-in-out 1s both 2s;
    }
  }

  .absolute-bg {
    opacity: 0.9;

    // @media (min-width: $mq-small) {
    //   background-attachment: fixed;
    // }
  }

  &__container {
    @extend %text-center;

    position: absolute;
    top: 50%;
    z-index: $z-9;

    color: $color-white;
    transform: translateY(-50%);

    @media (min-width: $mq-small) {
      left: 5%;

      text-align: left;
    }

    @media (min-width: $mq-large) {
      left: 10%;
    }

    br {

      @media (max-width: $mq-xsmall) {
        display: none;
      }
    }
  }

  &__date {
    @extend %text-center;
    @extend %letter-spacing;

    display: block;
    margin-top: 0.5em;

    font-family: $font-header;
    font-size: 1.25em;
  }

  &__arrow {
    position: absolute;
    left: 50%;
    bottom: 1.25em;

    transform: translateX(-50%);

    img {
      width: 2em;
    }
  }
}
