//----------------------------------------------
// Mast
//----------------------------------------------
.mast {
  position: relative;

  height: 26em;
  width: 100%;

  @media (min-width: $mq-small) {
    height: 100vh;
  }

  .absolute-bg {

    @media (min-width: $mq-small) {
      background-attachment: fixed;
    }
  }
}
