//----------------------------------------------
// Registry
//----------------------------------------------
.registry {

  &__container {
    @extend %container-margin;
    // @extend %text-center;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: {
      top: 2em;
      bottom: 2em;
    }

    @media (min-width: $mq-small) {
      padding: {
        top: 4em;
        bottom: 4em;
      }
    }

    @media (min-width: $mq-xlarge) {
      padding: {
        top: 6em;
        bottom: 6em;
      }
    }
  }

  &__link {
    display: inline-block;
    width: 15em;
    max-width: 50%;

    &:first-child {
      margin-right: 1em;
    }

    &:last-child {
      margin-left: 1em;
    }

    &:hover {

      .registry__img {
        filter: brightness(0);
      }
    }
  }

  &__img {
    @extend %auto-margin;

    filter: brightness(0) invert(1);
    transition: filter 0.3s ease-in-out;
  }
}
