//----------------------------------------------
// Story
//----------------------------------------------
.story {

  p:not(.story__intro) {
    font-size: 1.1em;
  }

  &__container {
    @extend %container-margin;
  }
  
  &__subcontainer {
    margin-top: 2em;
  }

  &__intro {
    margin-bottom: 0.5em;

    font-size: 1.5em;
  }


  &__content {
    @extend .story__subcontainer;
  }
}
