//----------------------------------------------
// Body
//---------------------------------------------- 
body {
  animation: fade-in ease-in-out 1s both;
}

//----------------------------------------------
// Main
//---------------------------------------------- 
main {

  @media (min-width: $mq-med) {
    margin-bottom: $border-width;
  }
}

//----------------------------------------------
// Misc
//----------------------------------------------
*, *:before, *:after {
  box-sizing: border-box;  
}
